.vis-item.orange {
    background-color: orange;
    border-color: orange;
}

.vis-item.green {
    background-color: green;
    border-color: green;
}

.vis-item.red {
    background-color: red;
    border-color: red;
}

.vis-nested-group.toBreak {
    background-color: lightcoral;
}

.vis-item.blue {
    background-color: blue;
    border-color: blue;
}

.vis-item.aquamarine {
    background-color: aquamarine;
    border-color: aquamarine;
}