<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Campanario's System</title>
    <style>
        .bloco {
            display: flex;
            height: 1rem;
            overflow: hidden;
            font-size: 0.75rem;
            background-color: azure;
            border-radius: 0.25rem;
        }

        .item {
            margin-right: 2px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: #fff;
            text-align: center;
            white-space: nowrap;
            transition: width 0.6s ease;
        }
    </style>
</head>

<body>
    <div id="app">
        <form>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="nome">Employee</label>
                    <input v-model="form.nome" type="text" class="form-control" id="nome" placeholder="Employee's name">
                </div>
                <div class="form-group col-md-4">
                    <label for="grupo">Sector</label>
                    <select class="form-control form-control-sm" v-model="form.grupo">
                        <option v-for="setor of setores">{{setor}}</option>
                    </select>
                </div>
            </div>
            <button type="button" v-on:click="adicionar" class="btn btn-primary">Add</button>
            <button type="button" v-on:click="salvar" class="btn">Save</button>
            <button type="button" v-on:click="carregar" class="btn">Load</button>
        </form>
        <br>
        <div v-if="pessoas.length > 0">
            total <span class="badge badge-pill badge-primary">{{(inWork()+inBreak()+inArrive())}}</span> | working<span
                class="badge badge-pill badge-success">{{inWork()}}</span> | breaking <span
                class="badge badge-pill badge-warning">{{inBreak()}}</span> | arriving <span
                class="badge badge-pill badge-warning">{{inArrive()}}</span>
        </div>
        <br>
        <div>
            <div class="row" v-for="grupo of setores">
                <div v-if="totalGroup(grupo) > 0" class="col">
                    <span class="badge badge-info" style="font-size: 18px">{{grupo}}</span> | total <span
                        class="badge badge-pill badge-primary">{{totalGroup(grupo)}}</span> | working <span
                        class="badge badge-pill badge-success">{{inWorkForGroup(grupo)}}</span> | breaking <span
                        class="badge badge-pill badge-warning">{{inBreakForGroup(grupo)}}</span> | arriving <span
                        class="badge badge-pill badge-warning">{{inArriveForGroup(grupo)}}</span>
                    <table style="width: 100%">
                        <tbody>
                            <tr>
                                <td style="width: 15%;"></td>
                                <td style="width: 75%;">
                                    <div class="bloco">
                                        <div class="item" style="width: 7.14%; background-color: #2b7489">07:00</div>
                                        <div class="item" style="width: 7.14%; background-color: #2b7489">08:00</div>
                                        <div class="item" style="width: 7.14%; background-color: #2b7489">09:00</div>
                                        <div class="item" style="width: 7.14%; background-color: #2b7489">10:00</div>
                                        <div class="item" style="width: 7.14%; background-color: #2b7489">11:00</div>
                                        <div class="item" style="width: 7.14%; background-color: #2b7489">12:00</div>
                                        <div class="item" style="width: 7.15%; background-color: #2b7489">01:00</div>
                                        <div class="item" style="width: 7.15%; background-color: #2b7489">02:00</div>
                                        <div class="item" style="width: 7.15%; background-color: #2b7489">03:00</div>
                                        <div class="item" style="width: 7.15%; background-color: #2b7489">04:00</div>
                                        <div class="item" style="width: 7.15%; background-color: #2b7489">05:00</div>
                                        <div class="item" style="width: 7.15%; background-color: #2b7489">06:00</div>
                                        <div class="item" style="width: 7.15%; background-color: #2b7489">07:00</div>
                                        <div class="item" style="width: 7.15%; background-color: #2b7489">08:00</div>
                                    </div>
                                </td>
                                <td style="width: 10%;"></td>
                            </tr>
                            <tr v-for="p in pessoas" v-if="p.grupo === grupo">
                                <th scope="row">
                                    <input type="checkbox" id="selecionado"
                                        v-model="p.selecionado">{{p.nome}}
                                </th>
                                <td>
                                    <div class="bloco">
                                        <div class="item" style="width: 50%;"></div>
                                        <div class="item" style="width: 25%; background-color: green"></div>
                                        <div class="item" style="width: 15%;"></div>
                                        <div class="item" style="width: 15%; background-color: yellow"></div>
                                    </div>
                                </td>
                                <td>
                                    <button v-if="p.entrada === 0 && p.parada === 0" type="button"
                                        v-on:click="chegar(p)" class="btn btn-primary btn-sm">Arrive</button>
                                    <button v-if="p.entrada > 0 && p.parada === 0" type="button" v-on:click="parar(p)"
                                        class="btn btn-primary btn-sm">Break</button>
                                    <button v-if="p.parada > 0" type="button" v-on:click="voltar(p)"
                                        class="btn btn-primary btn-sm">Back</button>
                                    <button type="button" v-on:click="remover(p)"
                                        class="btn btn-primary btn-sm">X</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div v-if="pessoas.length > 0">
                <form class="form-inline">
                    <div class="form-group mb-2">
                        <button type="button" v-on:click="apagarSelecionados()"
                            class="btn btn-primary btn-sm">X</button>
                        <button type="button" v-on:click="mover()" class="btn btn-primary btn-sm">Move selected
                            to</button>
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        <select class="form-control form-control-sm" v-model="form.moverPara">
                            <option v-for="setor of setores">{{setor}}</option>
                        </select>
                    </div>
                </form>
                <button type="button" v-on:click="gerarDados()" class="btn btn-secondary btn-sm">Gerar dados</button>
            </div>
        </div>
        <br>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        function formatarData(data) {
            var date = new Date(data);
            var duration = Date.now() - data;
            var negativo = false;
            if (duration < 0) {
                negativo = true;
                duration = duration * -1;
            }
            var seconds = Math.floor((duration / 1000) % 60);
            var minutes = Math.floor((duration / (1000 * 60)) % 60);
            var hours = Math.floor((duration / (1000 * 60 * 60)) % 24);
            hours = (hours < 10) ? "0" + hours : hours;
            minutes = (minutes < 10) ? "0" + minutes : minutes;
            seconds = (seconds < 10) ? "0" + seconds : seconds;
            complete_hours = (date.getHours() < 10) ? "0" + date.getHours() : date.getHours();
            complete_minutes = (date.getMinutes() < 10) ? "0" + date.getMinutes() : date.getMinutes();
            return (!negativo ? complete_hours + ":" + complete_minutes + " - " : "R ") + hours + ":" + minutes + ":" + seconds;
        }
        function horaAtual() {
            return Date.now();
        }
        function ordernar(listaPessoas) {
            listaPessoas = listaPessoas.slice().sort(function (a, b) {
                var valueA = a.entrada === 0 ? Number.MAX_SAFE_INTEGER : a.retorno > 0 ? a.retorno : a.parada > 0 ? a.parada : a.entrada;
                var valueB = b.entrada === 0 ? Number.MAX_SAFE_INTEGER : b.retorno > 0 ? b.retorno : b.parada > 0 ? b.parada : b.entrada;
                if (valueA > valueB) {
                    return 1;
                } else {
                    return -1;
                }
            });
            return listaPessoas;
        }
        var app = new Vue({
            el: '#app',
            data: {
                form: {
                    nome: '',
                    grupo: '',
                    moverPara: '',
                    entrada: 0
                },
                pessoa: {
                    nome: '',
                    grupo: '',
                    selecionado: false,
                    diferencaEntrada: 0,
                    diferencaParada: 0,
                    entrada: 0,
                    parada: 0,
                    quantidadeParada: 0,
                    retorno: 0
                },
                pessoas: [],
                setores: ['Wipedown', 'Prep', 'Detail']
            },
            created: function () {
                var date = new Date();
                this.form.entrada = new Date(date.getTime() - (date.getTimezoneOffset() * 60000)).toISOString().replace("Z", "").split(".")[0];
                setInterval(() => {
                    this.pessoas.forEach(function (p) {
                        if (p.entrada > 0) {
                            p.diferencaEntrada = formatarData(p.entrada);
                            if (p.retorno > 0) {
                                p.diferencaUltimaParada = formatarData(p.retorno);
                            }
                            if (p.parada > 0) {
                                p.diferencaParada = formatarData(p.parada);
                            }
                        }
                    });
                }, 1000);
            },
            methods: {
                adicionar: function () {
                    var p = {};
                    Object.assign(p, this.pessoa);
                    p.nome = this.form.nome;
                    p.grupo = this.form.grupo;
                    this.form.nome = '';
                    this.pessoas.push(p);
                    this.pessoas = ordernar(this.pessoas);
                },
                parar: function (pessoa) {
                    pessoa.parada = horaAtual();
                    pessoa.quantidadeParada = pessoa.quantidadeParada + 1;
                    this.pessoas = ordernar(this.pessoas);
                },
                chegar: function (pessoa) {
                    pessoa.entrada = horaAtual();
                    this.pessoas = ordernar(this.pessoas);
                },
                remover: function (pessoa) {
                    if (confirm('Deseja remover ' + pessoa.nome + '?')) {
                        this.pessoas = this.pessoas.filter(function (v) { return v != pessoa; });
                    }
                },
                salvar: function () {
                    localStorage.setItem('pessoas', JSON.stringify(this.pessoas));
                },
                carregar: function () {
                    this.pessoas = JSON.parse(localStorage.getItem('pessoas'));
                    this.pessoas = ordernar(this.pessoas);
                },
                voltar: function (pessoa) {
                    pessoa.retorno = horaAtual();
                    pessoa.parada = 0;
                    this.pessoas = ordernar(this.pessoas);
                },
                apagarSelecionados: function () {
                    if (confirm('Deseja remover todos selecionados?')) {
                        this.pessoas = this.pessoas.filter(function (v) { return !v.selecionado; });
                    }
                },
                inArrive: function () {
                    var total = 0;
                    this.pessoas.forEach(function (p) {
                        if (p.entrada === 0) {
                            total++;
                        }
                    });
                    return total;
                },
                inWork: function () {
                    var total = 0;
                    this.pessoas.forEach(function (p) {
                        if (p.entrada > 0) {
                            total++;
                        }
                    });
                    return total;
                },
                inBreak: function () {
                    var total = 0;
                    this.pessoas.forEach(function (p) {
                        if (p.parada > 0) {
                            total++;
                        }
                    });
                    return total;
                },
                inWorkForGroup: function (grupo) {
                    var total = 0;
                    this.pessoas.forEach(function (p) {
                        if (p.entrada > 0 && p.parada === 0 && p.grupo === grupo) {
                            total++;
                        }
                    });
                    return total;
                },
                inArriveForGroup: function (grupo) {
                    var total = 0;
                    this.pessoas.forEach(function (p) {
                        if (p.entrada === 0 && p.grupo === grupo) {
                            total++;
                        }
                    });
                    return total;
                },
                inBreakForGroup: function (grupo) {
                    var total = 0;
                    this.pessoas.forEach(function (p) {
                        if (p.parada > 0 && p.grupo === grupo) {
                            total++;
                        }
                    });
                    return total;
                },
                totalGroup: function (grupo) {
                    return this.inWorkForGroup(grupo) + this.inBreakForGroup(grupo) + this.inArriveForGroup(grupo);
                },
                mover: function () {
                    var moverPara = this.form.moverPara;
                    if (this.form.moverPara) { this.pessoas.forEach(function (p) { if (p.selecionado) { p.grupo = moverPara; p.selecionado = false } }); }
                    this.pessoas = ordernar(this.pessoas);
                },
                gerarDados: function () {
                    var p = {};
                    p.nome = 'René';
                    p.grupo = this.setores[0];
                    p.selecionado = false;
                    p.entrada = Date.now();
                    p.parada = 0;
                    p.quantidadeParada = 0;
                    p.retorno = 0;
                }
            }
        })
    </script>
</body>

</html>