<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/vis-timeline@5.1.0/dist/vis-timeline-graph2d.min.css">
    <link rel="stylesheet" href="app.css">
    <title>Campanario's System</title>
</head>

<body>
    <div id="app">
        <!-- Modal -->
        <div class="modal fade" id="employeeModal" tabindex="15" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{employeeName}}'s Timesheet</h5>
                        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div v-if="employeeNote != ''" class="form-group">
                            <textarea class="form-control" readonly id="exampleFormControlTextarea1" rows="3">{{employeeNote}}</textarea>
                        </div>
                        <div v-for="item of items">
                            <div
                                v-bind:class="{ 'input-group shadow p-3 mb-5 bg-white rounded': item.open, 'input-group': !item.open }">
                                <input class="form-control" type="checkbox" id="selecionado" v-model="item.selecionado"
                                    v-if="item.type != 'Scheduled'">
                                <select class="form-control" v-model="item.type" v-if="item.type != 'Scheduled'">
                                    <option>Push</option>
                                    <option>Work</option>
                                    <option>Break</option>
                                    <option>Lunch</option>
                                    <option>Home</option>
                                </select>
                                <input type="text" readonly class="form-control" v-model="item.type"
                                    v-if="item.type === 'Scheduled'">
                                <input type="text" class="form-control" v-model="item.start">
                                <input type="text" class="form-control" v-model="item.end" v-if="item.type != 'Home'">
                                <input type="text" readonly class="form-control" v-model="item.end"
                                    v-if="item.type === 'Home'">
                                <input type="text" readonly class="form-control" v-model="item.elapsedTime">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-secondary"
                                v-on:click="removerSheets(modalIdGroup)">Remove</button>
                            <button type="button" class="btn btn-info"
                                v-on:click="atualizarSheets(modalIdGroup)">Update</button>
                            <button type="button" class="btn btn-light btn-sm"
                                onclick="pushback(modalIdGroup)">Pushback</button>
                            <button type="button" class="btn btn-success" onclick="startme(modalIdGroup)">Start or
                                Back</button>
                            <button type="button" class="btn btn-danger" onclick="breakme(modalIdGroup)">Break</button>
                            <button type="button" class="btn btn-warning" onclick="lunchme(modalIdGroup)">Lunch</button>
                            <button type="button" class="btn btn-dark" onclick="homeme(modalIdGroup)">Go Home</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form>
            <div class="form-row">
                <div class="col">
                    <input v-model="form.nome" type="text" class="form-control" id="nome" placeholder="Employee's name">
                </div>
                <div class="col">
                    <select class="form-control" v-model="form.grupo">
                        <option>Wipedown</option>
                        <option>Prep</option>
                        <option>Detail</option>
                        <option>Cash and Sale</option>
                    </select>
                </div>
                <div class="col">
                    <button type="button" v-on:click="adicionar" class="btn btn-primary">Add</button>
                </div>
                <div class="col">
                    Version 3.2 Rule Breaks
                </div>
            </div>
            <div>
                <div class="col">
                    <button type="button" v-on:click="orderGroupsBySumWork()" class="btn btn-primary">Order
                        ByWork</button>
                    <button type="button" v-on:click="orderGroupsByLastWork()" class="btn btn-primary">Order
                        ByLast</button>
                    <button type="button" v-on:click="filterWork()" class="btn btn-primary">Filter Work</button>
                    <button type="button" v-on:click="filterNotHome()" class="btn btn-primary">Filter not Home</button>
                    <button type="button" v-on:click="subOffSet()" class="btn btn-primary">-</button>
                    <button type="button" v-on:click="addOffSet()" class="btn btn-primary">+</button>
                </div>
            </div>
        </form>
        <div id="TimeLine"></div>
        <form>
            <div class="form-row">
                <div class="col">
                    <button type="button" v-on:click="apagarSelecionados()" class="btn btn-primary">X</button>
                    <button type="button" v-on:click="mover()" class="btn btn-primary">Move selected to</button>
                </div>
                <div class="col">
                    <select class="form-control" v-model="form.moverPara">
                        <option>Wipedown</option>
                        <option>Prep</option>
                        <option>Detail</option>
                        <option>Cash and Sale</option>
                    </select>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-dark" onclick="javascript:load();">Load</button>
                </div>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script src="https://unpkg.com/vis-timeline@5.1.0/dist/vis-timeline-graph2d.min.js"></script>
    <script src="app.js"></script>
</body>

</html>