<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/vis-timeline@5.1.0/dist/vis-timeline-graph2d.min.css">
    <title>Campanario's System</title>
</head>

<body>
    
    <div id="app">
        <form>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="nome">Employee</label>
                    <input v-model="form.nome" type="text" class="form-control" id="nome" placeholder="Employee's name">
                </div>
                <div class="form-group col-md-4">
                    <label for="grupo">Sector</label>
                    <select class="form-control form-control-sm" v-model="form.grupo">
                        <option>Wipedown</option>
                        <option>Prep</option>
                        <option>Detail</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <button type="button" v-on:click="adicionar" class="btn btn-primary">Add</button>
                    <button type="button" v-on:click="salvar" class="btn">Save</button>
                    <button type="button" v-on:click="carregar" class="btn">Load</button>
                </div>
            </div>
        </form>
        <div v-if="pessoas.length > 0">
            total <span class="badge badge-pill badge-primary">{{(inWork()+inBreak()+inArrive())}}</span> | working<span
                class="badge badge-pill badge-success">{{inWork()}}</span> | breaking <span
                class="badge badge-pill badge-warning">{{inBreak()}}</span> | arriving <span
                class="badge badge-pill badge-warning">{{inArrive()}}</span>
        </div>
        <br>
        <div>
            Wipedown | total <span class="badge badge-pill badge-primary">{{totalGroup('Wipedown')}}</span> |
                working <span class="badge badge-pill badge-success">{{inWorkForGroup('Wipedown')}}</span> | breaking
                <span class="badge badge-pill badge-warning">{{inBreakForGroup('Wipedown')}}</span> | arriving <span
                    class="badge badge-pill badge-warning">{{inArriveForGroup('Wipedown')}}</span>
                    <br>
                    <div id="Wipedown"></div>
        </div>
        <br>
        <br>
        <div>
                Prep | total <span class="badge badge-pill badge-primary">{{totalGroup('Prep')}}</span> |
                working <span class="badge badge-pill badge-success">{{inWorkForGroup('Prep')}}</span> | breaking
                <span class="badge badge-pill badge-warning">{{inBreakForGroup('Prep')}}</span> | arriving <span
                    class="badge badge-pill badge-warning">{{inArriveForGroup('Prep')}}</span>
                    <div id="Prep"></div>
        </div>
        <br>
        <br>
        <div>
                Detail | total <span class="badge badge-pill badge-primary">{{totalGroup('Detail')}}</span> |
                working <span class="badge badge-pill badge-success">{{inWorkForGroup('Detail')}}</span> | breaking
                <span class="badge badge-pill badge-warning">{{inBreakForGroup('Detail')}}</span> | arriving <span
                    class="badge badge-pill badge-warning">{{inArriveForGroup('Detail')}}</span>
                    <div id="Detail"></div>
        </div>
        <br>
        <br>
            <div>
                <form class="form-inline">
                    <div class="form-group mb-2">
                        <button type="button" v-on:click="apagarSelecionados()"
                            class="btn btn-primary btn-sm">X</button>
                        <button type="button" v-on:click="mover()" class="btn btn-primary btn-sm">Move selected
                            to</button>
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        <select class="form-control form-control-sm" v-model="form.moverPara">
                            <option>Wipedown</option>
                            <option>Prep</option>
                            <option>Detail</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>
        <br>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script src="https://unpkg.com/vis-timeline@5.1.0/dist/vis-timeline-graph2d.min.js"></script>
    <script>
        var itemsWipedown = new vis.DataSet([]);
        var groupWipedown = new vis.DataSet([]);
        var itemsPrep = new vis.DataSet([]);
        var groupPrep = new vis.DataSet([]);
        var itemsDetail = new vis.DataSet([]);
        var groupDetail = new vis.DataSet([]);

        function formatarData(data) {
            var date = new Date(data);
            var duration = Date.now() - data;
            var negativo = false;
            if (duration < 0) {
                negativo = true;
                duration = duration * -1;
            }
            var seconds = Math.floor((duration / 1000) % 60);
            var minutes = Math.floor((duration / (1000 * 60)) % 60);
            var hours = Math.floor((duration / (1000 * 60 * 60)) % 24);
            hours = (hours < 10) ? "0" + hours : hours;
            minutes = (minutes < 10) ? "0" + minutes : minutes;
            seconds = (seconds < 10) ? "0" + seconds : seconds;
            complete_hours = (date.getHours() < 10) ? "0" + date.getHours() : date.getHours();
            complete_minutes = (date.getMinutes() < 10) ? "0" + date.getMinutes() : date.getMinutes();
            return (!negativo ? complete_hours + ":" + complete_minutes + " - " : "R ") + hours + ":" + minutes + ":" + seconds;
        }
        function horaAtual() {
            return Date.now();
        }
        function ordernar(listaPessoas) {
            listaPessoas = listaPessoas.slice().sort(function (a, b) {
                var valueA = a.entrada === 0 ? Number.MAX_SAFE_INTEGER : a.retorno > 0 ? a.retorno : a.parada > 0 ? a.parada : a.entrada;
                var valueB = b.entrada === 0 ? Number.MAX_SAFE_INTEGER : b.retorno > 0 ? b.retorno : b.parada > 0 ? b.parada : b.entrada;
                if (valueA > valueB) {
                    return 1;
                } else {
                    return -1;
                }
            });
            return listaPessoas;
        }
        var app = new Vue({
            el: '#app',
            data: {
                form: {
                    nome: '',
                    grupo: '',
                    moverPara: '',
                    entrada: 0
                },
                pessoa: {
                    nome: '',
                    grupo: '',
                    selecionado: false,
                    diferencaEntrada: 0,
                    diferencaParada: 0,
                    entrada: 0,
                    parada: 0,
                    quantidadeParada: 0,
                    retorno: 0
                },
                pessoas: []
            },
            created: function () {
                var date = new Date();
                this.form.entrada = new Date(date.getTime() - (date.getTimezoneOffset() * 60000)).toISOString().replace("Z", "").split(".")[0];
                setInterval(() => {
                    this.pessoas.forEach(function (p) {
                        if (p.entrada > 0) {
                            p.diferencaEntrada = formatarData(p.entrada);
                            if (p.retorno > 0) {
                                p.diferencaUltimaParada = formatarData(p.retorno);
                            }
                            if (p.parada > 0) {
                                p.diferencaParada = formatarData(p.parada);
                            }
                        }
                    });
                }, 1000);
            },
            methods: {
                adicionar: function (event) {
                    var p = {};
                    Object.assign(p, this.pessoa);
                    p.nome = this.form.nome;
                    p.grupo = this.form.grupo;
                    this.form.nome = '';
                    this.pessoas.push(p);
                    this.pessoas = ordernar(this.pessoas);
                    if (p.grupo === "Wipedown") {
                        var idGroup = groupWipedown.add({content: p.nome});
                        itemsWipedown.add({group: idGroup[0], start: moment().hours(0).minutes(0).seconds(0).milliseconds(0)});
                    } else if (p.grupo === "Prep") {
                        var idGroup = groupPrep.add({content: p.nome});
                        itemsPrep.add({group: idGroup[0], start: moment().hours(0).minutes(0).seconds(0).milliseconds(0)});
                    } else if (p.grupo === "Detail") {
                        var idGroup = groupDetail.add({content: p.nome});
                        itemsDetail.add({group: idGroup[0], start: moment().hours(0).minutes(0).seconds(0).milliseconds(0)});
                    }
                    // data.add({id: 1, text: 'item 1'});
                    // data.update({id: 1, text: 'item 1 (updated)'});
                    // data.remove(1);
                    //itemsWipedown.add({content: 'item 1', start: '2019-08-19 15:14'});
                },
                parar: function (pessoa, event) {
                    pessoa.parada = horaAtual();
                    pessoa.quantidadeParada = pessoa.quantidadeParada + 1;
                    this.pessoas = ordernar(this.pessoas);
                },
                chegar: function (pessoa, event) {
                    pessoa.entrada = horaAtual();
                    this.pessoas = ordernar(this.pessoas);
                },
                remover: function (pessoa, event) {
                    if (confirm('Deseja remover ' + pessoa.nome + '?')) {
                        this.pessoas = this.pessoas.filter(function (v) { return v != pessoa; });
                    }
                },
                salvar: function () {
                    localStorage.setItem('pessoas', JSON.stringify(this.pessoas));
                },
                carregar: function () {
                    this.pessoas = JSON.parse(localStorage.getItem('pessoas'));
                    this.pessoas = ordernar(this.pessoas);
                },
                voltar: function (pessoa, event) {
                    pessoa.retorno = horaAtual();
                    pessoa.parada = 0;
                    this.pessoas = ordernar(this.pessoas);
                },
                apagarSelecionados: function () {
                    if (confirm('Deseja remover todos selecionados?')) {
                        this.pessoas = this.pessoas.filter(function (v) { return !v.selecionado; });
                    }
                },
                inArrive: function () {
                    var total = 0;
                    this.pessoas.forEach(function (p) {
                        if (p.entrada === 0) {
                            total++;
                        }
                    });
                    return total;
                },
                inWork: function () {
                    var total = 0;
                    this.pessoas.forEach(function (p) {
                        if (p.entrada > 0) {
                            total++;
                        }
                    });
                    return total;
                },
                inBreak: function () {
                    var total = 0;
                    this.pessoas.forEach(function (p) {
                        if (p.parada > 0) {
                            total++;
                        }
                    });
                    return total;
                },
                inWorkForGroup: function (grupo) {
                    var total = 0;
                    this.pessoas.forEach(function (p) {
                        if (p.entrada > 0 && p.parada === 0 && p.grupo === grupo) {
                            total++;
                        }
                    });
                    return total;
                },
                inArriveForGroup: function (grupo) {
                    var total = 0;
                    this.pessoas.forEach(function (p) {
                        if (p.entrada === 0 && p.grupo === grupo) {
                            total++;
                        }
                    });
                    return total;
                },
                inBreakForGroup: function (grupo) {
                    var total = 0;
                    this.pessoas.forEach(function (p) {
                        if (p.parada > 0 && p.grupo === grupo) {
                            total++;
                        }
                    });
                    return total;
                },
                totalGroup: function (grupo) {
                    return this.inWorkForGroup(grupo) + this.inBreakForGroup(grupo) + this.inArriveForGroup(grupo);
                },
                mover: function () {
                    var moverPara = this.form.moverPara;
                    if (this.form.moverPara) { this.pessoas.forEach(function (p) { if (p.selecionado) { p.grupo = moverPara; p.selecionado = false } }); }
                    this.pessoas = ordernar(this.pessoas);
                }
            }
        })
        var containerWipedown = document.getElementById("Wipedown");
        var containerPrep = document.getElementById("Prep");
        var containerDetail = document.getElementById("Detail");
        var options = {
            orientation: {axis: 'top'},
            min: moment().hours(8).minutes(0).seconds(0).milliseconds(0),
            max: moment().hours(19).minutes(59).seconds(59).milliseconds(999),
            zoomMin: 1000 * 60 * 60 * 12,
            zoomMax: 1000 * 60 * 60 * 12
        };
        var timelineWipedown = new vis.Timeline(containerWipedown);
        var timelinePrep = new vis.Timeline(containerPrep);
        var timelineDetail = new vis.Timeline(containerDetail);
        timelineWipedown.setOptions(options);
        timelinePrep.setOptions(options);
        timelineDetail.setOptions(options);
        timelineWipedown.setGroups(groupWipedown);
        timelinePrep.setGroups(groupPrep);
        timelineDetail.setGroups(groupDetail);
        timelineWipedown.setItems(itemsWipedown);
        timelinePrep.setItems(itemsPrep);
        timelineDetail.setItems(itemsDetail);
    </script>
</body>

</html>